<?xml version="1.0"?>

<launch>

  <!-- Start spot driver -->
  <include file="$(find hector_spot_ros)/launch/spot_driver.launch">
  </include>

  <!-- Load description -->
  <include file="$(find hector_spot_description)/launch/load_description.launch">
  </include>

  <!-- tf setup -->
  <include file="$(find hector_spot_ros)/launch/tf.launch">
  </include>

</launch>
